dist/forgot_password.html
<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>LEADUX forgot password</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="scripts/vendor.js"></script>
    <script src="scripts/respond.min.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  <body>
    <div id="index-wrapper" class="index-wrapper">
      <!-- Page Content-->
      <!-- inner Header-->
      <div class="container-wrap container-wrap__header_index">
        <header class="index-header">
          <div class="header-inner_index">
            <h1 class="logo__wr_index"><span class="sr-only">Logo</span><span class="logo-link"><!--[if gte IE 9]><!--><img src="img/svg/logo_leadux.svg" width="160" height="45" alt=""/><!--<![endif]--> <!--[if lt IE 9]><img src="img/png/logo_leadux.png" width="160" height="45" alt=""/><![endif]--></span></h1>
          </div>
        </header>
      </div>
      <!-- end inner Header-->
      <!-- main-content-->
      <main class="main-content">
        <div class="middle-box-index loginscreen animated fadeInDown">
          <div class="ibox-content">
            <div class="index-form__header text-center">
              <h2 class="index__title ng-binding">Forgot your password?</h2>
              <p class="caption-text ng-binding"> Please enter your email address and a new password will be emailed to you. </p>
            </div>
            <form role="form" ng-submit="sendPassword()" class="m-t ng-pristine ng-valid-email ng-invalid ng-invalid-required">
              <div class="form-group form-group_mg-lg">
                <input type="email" placeholder="Email" required="" ng-model="email" class="form-control form-control_big ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block btn_big">SEND ME A NEW PASSWORD</button>
              </div>
            </form>
          </div>
        </div>
      </main>
      <!-- end main-content-->
    </div>
    <!-- #wrapper-->
  </body>
</html>

app/forgot_password.jade
extends templates/layouts/_index

block head
  - pageTitle = "LEADUX forgot password";

block content
  .middle-box-index.loginscreen.animated.fadeInDown
    .ibox-content
      .index-form__header.text-center
        h2.index__title.ng-binding Forgot your password?
        p.caption-text.ng-binding  Please enter your email address and a new password will be emailed to you. 

      form.m-t.ng-pristine.ng-valid-email.ng-invalid.ng-invalid-required(role='form', ng-submit='sendPassword()')
        .form-group.form-group_mg-lg
          input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-valid-email.ng-invalid.ng-invalid-required(type='email', placeholder='Email', required='', ng-model='email')
        .form-group
          button.btn.btn-warning.btn-block.btn_big(type='submit') SEND ME A NEW PASSWORD
        
      
