app/login.jade
extends templates/layouts/_index

block head
  - pageTitle = "LEADUX Login";

block content
  .middle-box-index.loginscreen.animated.fadeInDown
    //- .alert.alert-warning.ng-pristine.ng-untouched.ng-valid.ng-binding.ng-empty.ng-hide(ng-show='error', ng-model='error_msg')   
    form.m-t.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required(role='form', ng-submit='login()')
      .form-group
        input.form-control.form-control_big.ng-untouched.ng-not-empty.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required(type='text', placeholder='your username or email', required='', ng-model='username')
      
      .form-group
        input.form-control.form-control_big.ng-untouched.ng-not-empty.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required(type='password', placeholder='PASSWORD', required='', ng-model='password')
      
      .form-group
        .custom-checkbox.custom-checkbox_big.custom-checkbox_warning
          input#ch1(type="checkbox")
          label(for="ch1") Remember me on this computer

      .form-group
        button.btn.btn-warning.btn-block.btn_big(type='submit') SIGN IN

      .form-group.text-center
        a.index-link(ui-sref='forgot_password', href='/forgot_password') Forgot password?

      .form-group
        p.caption-text.text-center
          | Don’t have a Leadux Account yet?
      
      .form-group
        a.btn.btn-warning.btn-block.btn_big(ui-sref='register')
          span.ng-binding SIGN UP

dist/login.html
<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>LEADUX Login</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="scripts/vendor.js"></script>
    <script src="scripts/respond.min.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  <body>
    <div id="index-wrapper" class="index-wrapper">
      <!-- Page Content-->
      <!-- inner Header-->
      <div class="container-wrap container-wrap__header_index">
        <header class="index-header">
          <div class="header-inner_index">
            <h1 class="logo__wr_index"><span class="sr-only">Logo</span><span class="logo-link"><!--[if gte IE 9]><!--><img src="img/svg/logo_leadux.svg" width="160" height="45" alt=""/><!--<![endif]--> <!--[if lt IE 9]><img src="img/png/logo_leadux.png" width="160" height="45" alt=""/><![endif]--></span></h1>
          </div>
        </header>
      </div>
      <!-- end inner Header-->
      <!-- main-content-->
      <main class="main-content">
        <div class="middle-box-index loginscreen animated fadeInDown">
          <form role="form" ng-submit="login()" class="m-t ng-dirty ng-valid-parse ng-valid ng-valid-required">
            <div class="form-group">
              <input type="text" placeholder="your username or email" required="" ng-model="username" class="form-control form-control_big ng-untouched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required">
            </div>
            <div class="form-group">
              <input type="password" placeholder="PASSWORD" required="" ng-model="password" class="form-control form-control_big ng-untouched ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required">
            </div>
            <div class="form-group">
              <div class="custom-checkbox custom-checkbox_big custom-checkbox_warning">
                <input id="ch1" type="checkbox">
                <label for="ch1">Remember me on this computer</label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-warning btn-block btn_big">SIGN IN</button>
            </div>
            <div class="form-group text-center"><a ui-sref="forgot_password" href="/forgot_password" class="index-link">Forgot password?</a></div>
            <div class="form-group">
              <p class="caption-text text-center">Don’t have a Leadux Account yet?</p>
            </div>
            <div class="form-group"><a ui-sref="register" class="btn btn-warning btn-block btn_big"><span class="ng-binding">SIGN UP</span></a></div>
          </form>
        </div>
      </main>
      <!-- end main-content-->
    </div>
    <!-- #wrapper-->
  </body>
</html>
