app/register.html
<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>LEADUX Register</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/bootstrap-tabcollapse/bootstrap-tabcollapse.js"></script>
    <!-- endbower-->
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/respond.min.js-->
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <div id="index-wrapper" class="index-wrapper">
      <!-- Page Content-->
      <!-- inner Header-->
      <div class="container-wrap container-wrap__header_index">
        <header class="index-header">
          <div class="header-inner_index">
            <h1 class="logo__wr_index"><span class="sr-only">Logo</span><span class="logo-link"><!--[if gte IE 9]><!--><img src="img/svg/logo_leadux.svg" width="160" height="45" alt=""/><!--<![endif]--> <!--[if lt IE 9]><img src="img/png/logo_leadux.png" width="160" height="45" alt=""/><![endif]--></span></h1>
          </div>
        </header>
      </div>
      <!-- end inner Header-->
      <!-- main-content-->
      <main class="main-content">
        <div class="middle-box-index loginscreen animated fadeInDown">
          <form role="form" ng-submit="register()" class="m-t ng-pristine ng-invalid ng-invalid-required ng-valid-email">
            <div class="form-group">
              <input type="email" placeholder="Email" ng-model="email" required="" class="form-control form-control_big ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Username" ng-model="username" required="" class="form-control form-control_big ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" ng-model="password" required="" class="form-control form-control_big ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
            </div>
            <div class="form-group">
              <input type="text" placeholder="Name" ng-model="name" required="" class="form-control form-control_big ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
            </div>
            <div class="form-group">
              <div class="custom-checkbox custom-checkbox_big custom-checkbox_warning">
                <input id="ch1" type="checkbox">
                <label for="ch1">I agree to the Terms of Use and Privacy Policy</label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-warning btn-block btn_big">SIGN ME UP!</button>
            </div>
            <div class="form-group">
              <p class="caption-text text-center">Have an account already?</p>
            </div><a href="login.html" class="btn btn-warning btn-block btn_big"><span class="ng-binding">SIGN IN</span></a>
          </form>
        </div>
      </main>
      <!-- end main-content-->
    </div>
    <!-- #wrapper-->
  </body>
</html>

app/register.jade
extends templates/layouts/_index

block head
  - pageTitle = "LEADUX Register";

block content
  .middle-box-index.loginscreen.animated.fadeInDown
    form.m-t.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-email(role='form', ng-submit='register()')
      .form-group
        input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-valid-email.ng-invalid.ng-invalid-required(type='email', placeholder='Email', ng-model='email', required='')
      
      .form-group
        input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required(type='text', placeholder='Username', ng-model='username', required='')

      .form-group
        input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required(type='password', placeholder='Password', ng-model='password', required='')

      .form-group
        input.form-control.form-control_big.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required(type='text', placeholder='Name', ng-model='name', required='')

      .form-group
        .custom-checkbox.custom-checkbox_big.custom-checkbox_warning
          input#ch1(type="checkbox")
          label(for="ch1") I agree to the Terms of Use and Privacy Policy

      .form-group
        button.btn.btn-warning.btn-block.btn_big(type='submit') SIGN ME UP!

      .form-group
        p.caption-text.text-center
          | Have an account already?

      a.btn.btn-warning.btn-block.btn_big(href='login.html')
        span.ng-binding SIGN IN
