app/website-control-panel.jade
block var
  - var dash = true

extends templates/layouts/_default

block head
  - pageTitle = "LEADUX";

block content
  script.
    $(function () {
      $("[name='checkbox-switch']").bootstrapSwitch();
    });
  .container_sm
    section.section__wr.clearfix
      .nav-section
        .nav__header.clearfix
          .nav__header-inner
            .submenu__additional-action-wr.clearfix
              .submenu__title-wr
                .submenu__title
                  .dropdown
                    a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | mywebsite.com
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dLabel')
                      li: a(href="") mywebsite-2.com
                      li: a(href="") mywebsite-3.com
              .submenu__main-actions-wr
                .submenu__main-actions.clearfix
                  .submenu-site-setings__btn-group
                    .submenu__btn-wr
                      a(href="website-instalation.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_instalation.btn-icon.btn-icon_l
                        span.btn-text Installation
                    .submenu__btn-wr
                      a(href="website-control-panel.html").btn.btn-warning.btn_shadow.btn-140.active-page
                        i.ld-icons_control-panel.btn-icon.btn-icon_l
                        span.btn-text Control Panel
                    .submenu__btn-wr
                      a(href="website-integrations.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_integration.btn-icon.btn-icon_l
                        span.btn-text Integrations

      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-body.panel-body_gray
          label.big-label All LeadBots
          input(type="checkbox" name="checkbox-switch", checked, data-handle-width="24", data-label-width="24", data-on-text="on", data-off-text="off")

      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-heading
          .row
            .col-lg-5
              label.big-label C-FormBot
              input(type="checkbox" name="checkbox-switch", checked, data-handle-width="24", data-label-width="24", data-on-text="on", data-off-text="off")
            .col-lg-7.visible-lg-block
              label.big-label Form View Mode
              .radio-group.radio-group_inline.radio-group_md
                .custom-radio
                  input#viewMode1(type="radio", name="viewMode", value="1")
                  label(for="viewMode1") grid
                .custom-radio
                  input#viewMode2(type="radio", name="viewMode", value="2")
                  label(for="viewMode2") float
                .custom-radio
                  input#viewMode3(type="radio", name="viewMode", value="3", checked)
                  label(for="viewMode3") mix
        .panel-body
          .form-group.hidden-lg
            .radio-group.radio-group_inline.radio-group_md
              .custom-radio
                input#viewModeM1(type="radio", name="viewMode1", value="1")
                label(for="viewModeM1") grid
              .custom-radio
                input#viewModeM2(type="radio", name="viewMode1", value="2")
                label(for="viewModeM2") float
              .custom-radio
                input#viewModeM3(type="radio", name="viewMode1", value="3", checked)
                label(for="viewModeM3") mix
          .site-block-position__wr
            .site-block-position__inner
              .row
                .col-lg-9
                  .site-block-position.site-block-position_desktop
                    header.site-block-position__header
                      .site-block-position__title Popsition in Desktop & Tablet
                    .site-block-position__body
                      .desktop-block-position
                        img(src="img/png/desktop-bg.png", alt="").img-responsive
                        .desktop-block-position__btn-group.js-desktop-block-position__btn-group
                          button(type="button").btn.btn__block-position.block-position-1.btn__active-position
                            span active block
                          button(type="button").btn.btn__block-position.block-position-2
                            span active block
                          button(type="button").btn.btn__block-position.block-position-3
                            span active block
                          button(type="button").btn.btn__block-position.block-position-4
                            span active block
                          button(type="button").btn.btn__block-position.block-position-5
                            span active block
                          button(type="button").btn.btn__block-position.block-position-6
                            span active block
                          button(type="button").btn.btn__block-position.block-position-7
                            span active block
                          button(type="button").btn.btn__block-position.block-position-8
                            span active block
                          button(type="button").btn.btn__block-position.block-position-9
                            span active block
                          button(type="button").btn.btn__block-position.block-position-10
                            span active block
                    footer.site-block-position__footer

                .col-lg-3
                  .site-block-position.site-block-position_mobile
                    .site-block-position__title Position on Mobile Phone
                  .site-block-position__body
                    .mobile-block-position
                      img(src="img/png/mobile-bg.png", alt="").img-responsive
                      .mobile-block-position__btn-group
                        button(type="button").btn.btn__block-position_mobile.block-position-11.btn__active-position
                          span active block
            .site-block-position__action-wr
              .row
                .col-lg-7
                  .site-block-position__action
                    .form-group
                      label.control-label.position-action-label.ng-binding Load C-FormBot into:
                      // ngRepeat: div in website.form_view_mode.page_divs
                      .site-block-position__row-wr
                        .row.ng-scope(ng-repeat='div in website.form_view_mode.page_divs')
                          .col-lg-4
                            .radio-group.radio-group_inline
                              .custom-radio
                                input#C-FormBot10.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='id', name='div0', checked)
                                label.ng-binding(for='C-FormBot10') DIV ID
                              .custom-radio
                                input#C-FormBot20.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='class', name='div0')
                                label.ng-binding(for='C-FormBot20') DIV CLASS
                          .col-lg-8
                            .row
                              .col-sm-7.form-group__inner
                                input#inputEmail.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty(type='text', ng-model='div.div_value')
                              .col-sm-5.form-group__actions-wr
                                .btn-group__form-group-action
                                  a.btn.btn-default.btn-r-sm(href='', ng-click='newPageDiv($index)')
                                    i.glyphicon.glyphicon-plus
                                  a.btn.btn-default.btn-r-sm.ng-hide(href='', ng-hide='$index == 0', ng-click='removePageDiv(div)')
                                    i.glyphicon.glyphicon-minus
                      // end ngRepeat: div in website.form_view_mode.page_divs
                      .site-block-position__row-wr
                        .row.ng-scope(ng-repeat='div in website.form_view_mode.page_divs')
                          .col-lg-4
                            .radio-group.radio-group_inline
                              .custom-radio
                                input#C-FormBot11.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='id', name='div1')
                                label.ng-binding(for='C-FormBot11') DIV ID
                              .custom-radio
                                input#C-FormBot21.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='class', name='div1')
                                label.ng-binding(for='C-FormBot21') DIV CLASS
                          .col-lg-8
                            .row
                              .col-sm-7.form-group__inner
                                input#inputEmail.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty(type='text', ng-model='div.div_value')
                              .col-sm-5.form-group__actions-wr
                                .btn-group__form-group-action
                                  a.btn.btn-default.btn-r-sm(href='', ng-click='newPageDiv($index)')
                                    i.glyphicon.glyphicon-plus
                                  a.btn.btn-default.btn-r-sm(href='', ng-hide='$index == 0', ng-click='removePageDiv(div)')
                                    i.glyphicon.glyphicon-minus
                      // end ngRepeat: div in website.form_view_mode.page_divs
                      .site-block-position__row-wr
                        .row.ng-scope(ng-repeat='div in website.form_view_mode.page_divs')
                          .col-lg-4
                            .radio-group.radio-group_inline
                              .custom-radio
                                input#C-FormBot12.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='id', name='div2')
                                label.ng-binding(for='C-FormBot12') DIV ID
                              .custom-radio
                                input#C-FormBot22.ng-pristine.ng-untouched.ng-valid.ng-not-empty(type='radio', ng-model='div.div_mode', value='class', name='div2')
                                label.ng-binding(for='C-FormBot22') DIV CLASS
                          .col-lg-8
                            .row
                              .col-sm-7.form-group__inner
                                input#inputEmail.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty(type='text', ng-model='div.div_value')
                              .col-sm-5.form-group__actions-wr
                                .btn-group__form-group-action
                                  a.btn.btn-default.btn-r-sm(href='', ng-click='newPageDiv($index)')
                                    i.glyphicon.glyphicon-plus
                                  a.btn.btn-default.btn-r-sm(href='', ng-hide='$index == 0', ng-click='removePageDiv(div)')
                                    i.glyphicon.glyphicon-minus
                      // end ngRepeat: div in website.form_view_mode.page_divs

                .col-lg-5
                  .site-block-position__action
                    .form-group
                      label.control-label.position-action-label Proactive invitation
                      .custom-select.form-control
                        select(name="").form-control
                          option(value='1') scroll bottom
                          option(value='1') scroll top

      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-heading
          label.big-label ChatBot
          input(type="checkbox" name="checkbox-switch", data-handle-width="24", data-label-width="24", data-on-text="on", data-off-text="off")
        .panel-body
          .site-block-position__wr
            .site-block-position__inner
              .row
                .col-lg-9
                  .site-block-position.site-block-position_desktop
                    header.site-block-position__header
                      .site-block-position__title Popsition in Desktop & Tablet
                    .site-block-position__body
                      .desktop-block-position
                        img(src="img/png/desktop-bg.png", alt="").img-responsive
                        .desktop-block-position__btn-group.js-desktop-block-position__btn-group
                          button(type="button").btn.btn__block-position.block-position-3
                            span active block
                          button(type="button").btn.btn__block-position.block-position-4
                            span active block
                          button(type="button").btn.btn__block-position.block-position-5
                            span active block
                          button(type="button").btn.btn__block-position.block-position-6
                            span active block
                          button(type="button").btn.btn__block-position.block-position-7
                            span active block
                          button(type="button").btn.btn__block-position.block-position-8
                            span active block


                .col-lg-3
                  .site-block-position.site-block-position_mobile
                    .site-block-position__title Position on Mobile Phone
                  .site-block-position__body
                    .mobile-block-position
                      img(src="img/png/mobile-bg.png", alt="").img-responsive
                      .mobile-block-position__btn-group
                        button(type="button").btn.btn__block-position_mobile.block-position-11.btn__active-position
                          span active block

            .site-block-position__action-wr
              .row
                .col-lg-5
                  .site-block-position__action
                    .form-group
                      label.control-label.position-action-label Proactive invitation
                      .custom-select.form-control
                        select(name="").form-control
                          option(value='1') scroll bottom
                          option(value='1') scroll top

app/website-control-panel.html
<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>LEADUX</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/bootstrap-tabcollapse/bootstrap-tabcollapse.js"></script>
    <!-- endbower-->
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/respond.min.js-->
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <div id="wrapper">
      <!-- Page Content-->
      <div id="page-content-wrapper">
        <!-- inner Header-->
        <div class="container-wrap container-wrap__header">
          <div class="container_sm">
            <header class="main-header">
              <div class="header-inner_sm">
                <h1 class="logo__wr"><span class="sr-only">Logo</span><a href="index.html" class="logo-link"><!--[if gte IE 9]><!--><img src="img/svg/logo_leadux.svg" width="110" height="30" alt=""/><!--<![endif]--> <!--[if lt IE 9]><img src="img/png/logo_leadux.png" width="110" height="30" alt=""/><![endif]--></a></h1>
              </div>
              <div class="header__nav">
                <div class="header__nav-controls"><a href="" data-toggle-wrapper="header-toggle" class="btn-toggle btn-toggle_header js-btn-toggle"><span class="btn-toggle__icon"><span class="toggle-line toggle-line-1"></span><span class="toggle-line toggle-line-2"></span><span class="toggle-line toggle-line-3"></span></span></a><a href="index.html" class="btn btn-primary btn_shadow header-nav__link_dashboard"><i class="ld-icons_dash btn-icon btn-icon_l"></i><span class="btn-text">dashboard</span></a>
                </div>
                <nav class="header-nav__list-wr">
                  <ul class="header-nav__list">
                    <li class="header-nav-list__item"><a href="websites.html" class="header-nav__link">websites</a></li>
                    <li class="header-nav-list__item"><a href="" class="header-nav__link">support</a></li>
                    <li class="header-nav-list__item"><a href="" class="header-nav__link">log out</a></li>
                  </ul>
                </nav>
              </div>
            </header>
          </div>
        </div>
        <div class="latest-leads-filters__collapse_top">
          <div class="latest-leads-filters__list">
            <div class="latest-leads-filters__list-item">
              <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn_shadow btn-110">profile <span class="caret"></span></a>
                <ul aria-labelledby="dLabel" class="dropdown-menu">
                  <li><a href="" class="ng-binding">Leadamaze</a></li>
                  <li><a href="" class="ng-binding">Publish</a></li>
                </ul>
              </div>
              <div class="filter-label">Publish</div>
            </div>
          </div>
        </div>
        <!-- end inner Header-->
        <!-- main-content-->
        <main class="main-content">
          <script>
            $(function () {
              $("[name='checkbox-switch']").bootstrapSwitch();
            });
          </script>
          <div class="container_sm">
            <section class="section__wr clearfix">
              <div class="nav-section">
                <div class="nav__header clearfix">
                  <div class="nav__header-inner">
                    <div class="submenu__additional-action-wr clearfix">
                      <div class="submenu__title-wr">
                        <div class="submenu__title">
                          <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">mywebsite.com<span class="caret"></span></a>
                            <ul aria-labelledby="dLabel" class="dropdown-menu">
                              <li><a href="">mywebsite-2.com</a></li>
                              <li><a href="">mywebsite-3.com</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="submenu__main-actions-wr">
                        <div class="submenu__main-actions clearfix">
                          <div class="submenu-site-setings__btn-group">
                            <div class="submenu__btn-wr"><a href="website-instalation.html" class="btn btn-warning btn_shadow btn-140"><i class="ld-icons_instalation btn-icon btn-icon_l"></i><span class="btn-text">Installation</span></a></div>
                            <div class="submenu__btn-wr"><a href="website-control-panel.html" class="btn btn-warning btn_shadow btn-140 active-page"><i class="ld-icons_control-panel btn-icon btn-icon_l"></i><span class="btn-text">Control Panel</span></a></div>
                            <div class="submenu__btn-wr"><a href="website-integrations.html" class="btn btn-warning btn_shadow btn-140"><i class="ld-icons_integration btn-icon btn-icon_l"></i><span class="btn-text">Integrations</span></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-default_custom panel-default_shadow">
                <div class="panel-body panel-body_gray">
                  <label class="big-label">All LeadBots</label>
                  <input type="checkbox" name="checkbox-switch" checked data-handle-width="24" data-label-width="24" data-on-text="on" data-off-text="off">
                </div>
              </div>
              <div class="panel panel-default panel-default_custom panel-default_shadow">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-lg-5">
                      <label class="big-label">C-FormBot</label>
                      <input type="checkbox" name="checkbox-switch" checked data-handle-width="24" data-label-width="24" data-on-text="on" data-off-text="off">
                    </div>
                    <div class="col-lg-7 visible-lg-block">
                      <label class="big-label">Form View Mode</label>
                      <div class="radio-group radio-group_inline radio-group_md">
                        <div class="custom-radio">
                          <input id="viewMode1" type="radio" name="viewMode" value="1">
                          <label for="viewMode1">grid</label>
                        </div>
                        <div class="custom-radio">
                          <input id="viewMode2" type="radio" name="viewMode" value="2">
                          <label for="viewMode2">float</label>
                        </div>
                        <div class="custom-radio">
                          <input id="viewMode3" type="radio" name="viewMode" value="3" checked>
                          <label for="viewMode3">mix</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="form-group hidden-lg">
                    <div class="radio-group radio-group_inline radio-group_md">
                      <div class="custom-radio">
                        <input id="viewModeM1" type="radio" name="viewMode1" value="1">
                        <label for="viewModeM1">grid</label>
                      </div>
                      <div class="custom-radio">
                        <input id="viewModeM2" type="radio" name="viewMode1" value="2">
                        <label for="viewModeM2">float</label>
                      </div>
                      <div class="custom-radio">
                        <input id="viewModeM3" type="radio" name="viewMode1" value="3" checked>
                        <label for="viewModeM3">mix</label>
                      </div>
                    </div>
                  </div>
                  <div class="site-block-position__wr">
                    <div class="site-block-position__inner">
                      <div class="row">
                        <div class="col-lg-9">
                          <div class="site-block-position site-block-position_desktop">
                            <header class="site-block-position__header">
                              <div class="site-block-position__title">Popsition in Desktop & Tablet</div>
                            </header>
                            <div class="site-block-position__body">
                              <div class="desktop-block-position"><img src="img/png/desktop-bg.png" alt="" class="img-responsive">
                                <div class="desktop-block-position__btn-group js-desktop-block-position__btn-group">
                                  <button type="button" class="btn btn__block-position block-position-1 btn__active-position"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-2"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-3"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-4"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-5"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-6"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-7"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-8"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-9"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-10"><span>active block</span></button>
                                </div>
                              </div>
                            </div>
                            <footer class="site-block-position__footer"></footer>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="site-block-position site-block-position_mobile">
                            <div class="site-block-position__title">Position on Mobile Phone</div>
                          </div>
                          <div class="site-block-position__body">
                            <div class="mobile-block-position"><img src="img/png/mobile-bg.png" alt="" class="img-responsive">
                              <div class="mobile-block-position__btn-group">
                                <button type="button" class="btn btn__block-position_mobile block-position-11 btn__active-position"><span>active block</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="site-block-position__action-wr">
                      <div class="row">
                        <div class="col-lg-7">
                          <div class="site-block-position__action">
                            <div class="form-group">
                              <label class="control-label position-action-label ng-binding">Load C-FormBot into:</label>
                              <!-- ngRepeat: div in website.form_view_mode.page_divs-->
                              <div class="site-block-position__row-wr">
                                <div ng-repeat="div in website.form_view_mode.page_divs" class="row ng-scope">
                                  <div class="col-lg-4">
                                    <div class="radio-group radio-group_inline">
                                      <div class="custom-radio">
                                        <input id="C-FormBot10" type="radio" ng-model="div.div_mode" value="id" name="div0" checked class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <label for="C-FormBot10" class="ng-binding">DIV ID</label>
                                      </div>
                                      <div class="custom-radio">
                                        <input id="C-FormBot20" type="radio" ng-model="div.div_mode" value="class" name="div0" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <label for="C-FormBot20" class="ng-binding">DIV CLASS</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-8">
                                    <div class="row">
                                      <div class="col-sm-7 form-group__inner">
                                        <input id="inputEmail" type="text" ng-model="div.div_value" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                                      </div>
                                      <div class="col-sm-5 form-group__actions-wr">
                                        <div class="btn-group__form-group-action"><a href="" ng-click="newPageDiv($index)" class="btn btn-default btn-r-sm"><i class="glyphicon glyphicon-plus"></i></a><a href="" ng-hide="$index == 0" ng-click="removePageDiv(div)" class="btn btn-default btn-r-sm ng-hide"><i class="glyphicon glyphicon-minus"></i></a></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- end ngRepeat: div in website.form_view_mode.page_divs-->
                              <div class="site-block-position__row-wr">
                                <div ng-repeat="div in website.form_view_mode.page_divs" class="row ng-scope">
                                  <div class="col-lg-4">
                                    <div class="radio-group radio-group_inline">
                                      <div class="custom-radio">
                                        <input id="C-FormBot11" type="radio" ng-model="div.div_mode" value="id" name="div1" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <label for="C-FormBot11" class="ng-binding">DIV ID</label>
                                      </div>
                                      <div class="custom-radio">
                                        <input id="C-FormBot21" type="radio" ng-model="div.div_mode" value="class" name="div1" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <label for="C-FormBot21" class="ng-binding">DIV CLASS</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-8">
                                    <div class="row">
                                      <div class="col-sm-7 form-group__inner">
                                        <input id="inputEmail" type="text" ng-model="div.div_value" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                                      </div>
                                      <div class="col-sm-5 form-group__actions-wr">
                                        <div class="btn-group__form-group-action"><a href="" ng-click="newPageDiv($index)" class="btn btn-default btn-r-sm"><i class="glyphicon glyphicon-plus"></i></a><a href="" ng-hide="$index == 0" ng-click="removePageDiv(div)" class="btn btn-default btn-r-sm"><i class="glyphicon glyphicon-minus"></i></a></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- end ngRepeat: div in website.form_view_mode.page_divs-->
                              <div class="site-block-position__row-wr">
                                <div ng-repeat="div in website.form_view_mode.page_divs" class="row ng-scope">
                                  <div class="col-lg-4">
                                    <div class="radio-group radio-group_inline">
                                      <div class="custom-radio">
                                        <input id="C-FormBot12" type="radio" ng-model="div.div_mode" value="id" name="div2" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <label for="C-FormBot12" class="ng-binding">DIV ID</label>
                                      </div>
                                      <div class="custom-radio">
                                        <input id="C-FormBot22" type="radio" ng-model="div.div_mode" value="class" name="div2" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                        <label for="C-FormBot22" class="ng-binding">DIV CLASS</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-8">
                                    <div class="row">
                                      <div class="col-sm-7 form-group__inner">
                                        <input id="inputEmail" type="text" ng-model="div.div_value" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                                      </div>
                                      <div class="col-sm-5 form-group__actions-wr">
                                        <div class="btn-group__form-group-action"><a href="" ng-click="newPageDiv($index)" class="btn btn-default btn-r-sm"><i class="glyphicon glyphicon-plus"></i></a><a href="" ng-hide="$index == 0" ng-click="removePageDiv(div)" class="btn btn-default btn-r-sm"><i class="glyphicon glyphicon-minus"></i></a></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- end ngRepeat: div in website.form_view_mode.page_divs-->
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-5">
                          <div class="site-block-position__action">
                            <div class="form-group">
                              <label class="control-label position-action-label">Proactive invitation</label>
                              <div class="custom-select form-control">
                                <select name="" class="form-control">
                                  <option value="1">scroll bottom</option>
                                  <option value="1">scroll top</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-default_custom panel-default_shadow">
                <div class="panel-heading">
                  <label class="big-label">ChatBot</label>
                  <input type="checkbox" name="checkbox-switch" data-handle-width="24" data-label-width="24" data-on-text="on" data-off-text="off">
                </div>
                <div class="panel-body">
                  <div class="site-block-position__wr">
                    <div class="site-block-position__inner">
                      <div class="row">
                        <div class="col-lg-9">
                          <div class="site-block-position site-block-position_desktop">
                            <header class="site-block-position__header">
                              <div class="site-block-position__title">Popsition in Desktop & Tablet</div>
                            </header>
                            <div class="site-block-position__body">
                              <div class="desktop-block-position"><img src="img/png/desktop-bg.png" alt="" class="img-responsive">
                                <div class="desktop-block-position__btn-group js-desktop-block-position__btn-group">
                                  <button type="button" class="btn btn__block-position block-position-3"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-4"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-5"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-6"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-7"><span>active block</span></button>
                                  <button type="button" class="btn btn__block-position block-position-8"><span>active block</span></button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="site-block-position site-block-position_mobile">
                            <div class="site-block-position__title">Position on Mobile Phone</div>
                          </div>
                          <div class="site-block-position__body">
                            <div class="mobile-block-position"><img src="img/png/mobile-bg.png" alt="" class="img-responsive">
                              <div class="mobile-block-position__btn-group">
                                <button type="button" class="btn btn__block-position_mobile block-position-11 btn__active-position"><span>active block</span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="site-block-position__action-wr">
                      <div class="row">
                        <div class="col-lg-5">
                          <div class="site-block-position__action">
                            <div class="form-group">
                              <label class="control-label position-action-label">Proactive invitation</label>
                              <div class="custom-select form-control">
                                <select name="" class="form-control">
                                  <option value="1">scroll bottom</option>
                                  <option value="1">scroll top</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </main>
        <!-- end main-content-->
      </div>
      <!-- inner Header-->
      <div class="container-wrap container-wrap__footer">
        <div class="container_sm">
          <footer class="main-footer">
            <nav>
              <ul class="footer-nav">
                <li class="footer-nav__item">© 2016 LEADUX GmbH</li>
                <li class="footer-nav__item">All Rights Reserved</li>
                <li class="footer-nav__item footer-nav__item-linck-wr"><a href="" class="footer-nav__link">Terms of Service</a></li>
                <li class="footer-nav__item footer-nav__item-linck-wr"><a href="" class="footer-nav__link">Privacy Policy</a></li>
              </ul>
            </nav>
          </footer>
        </div>
      </div>
      <!-- end inner Header-->
      <!-- #page-content-wrapper-->
    </div>
    <!-- #wrapper-->
  </body>
</html>
