app/website-instalation.jade
block var
  - var dash = true

extends templates/layouts/_default

block head
  - pageTitle = "LEADUX";


block content
  script.
    $(function () {
      $('[data-toggle="popover"]').popover({
          container: 'body',
          html: true,
          placement: 'auto'
      });
    });
  .container_sm
    section.section__wr.clearfix
      .nav-section
        .nav__header.clearfix
          .nav__header-inner
            .submenu__additional-action-wr.clearfix
              .submenu__title-wr
                .submenu__title
                  .dropdown
                    a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | mywebsite.com
                      span.caret
                    .dropdown-menu.dropdown-menu_scrolling(aria-labelledby='dLabel')
                      ul.dropdown-menu__inner
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/ngmDNygRpDtDw2t45') http://demo1.leadux.belitsoft.net
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/JWEgkxM6P3Gkkto5N') ivanova
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/CfT5gHCrZe3TpAdub') ivanova
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/kiigaJCuQzZc2Gzgp') Z
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/edqiZWScpkbas2W5a') Zx
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/SqpoRKmuvmpSYhXA3') Zxc
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/XGBvLHoPgwDNkmXRb') Zxzx
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/8YWD9NT4oL6CGdDNm') а п  пм
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/F3CdYbb2jtLKGfYAS') Иванов Иван Иванович
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/JKkzK73qsksXRkaHr') Иванов Иван Иванович
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/c8wfCA2QiJ6PcDPR7') Иванов Иван Иванович1
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/BpEe2XqK3wNiYhDDS') мррмга
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/6hoAqMZ4ba8P3EJ5c') Петров
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/6jRFw7DwFqXh3NiZw') Простоквашино
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/nPu6BGby8gbfWZHLd') тттттт
                        li.ng-scope(ng-repeat='site in $state.current.data.other_websites')
                          a.ng-binding(href='/installation/e6Cx3ZRrwCJDqBYLT') ывавыпварнонгдлдгшлнегокенрукпауцаукпк

              .submenu__main-actions-wr
                .submenu__main-actions.clearfix
                  .submenu-site-setings__btn-group
                    .submenu__btn-wr
                      a(href="website-instalation.html").btn.btn-warning.btn_shadow.btn-140.active-page
                        i.ld-icons_instalation.btn-icon.btn-icon_l
                        span.btn-text Installation
                    .submenu__btn-wr
                      a(href="website-control-panel.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_control-panel.btn-icon.btn-icon_l
                        span.btn-text Control Panel
                    .submenu__btn-wr
                      a(href="website-integrations.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_integration.btn-icon.btn-icon_l
                        span.btn-text Integrations
      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-heading
          h3.panel-title Website Information
        .panel-body
          form(action="").form-horizontal
            .row
              .col-sm-10.col-sm-offset-1
                .form-group
                  label(for="inputWebsiteName").control-label.col-sm-3 Website name
                  .col-sm-9.form-group__info-btn-wr
                    button.form-group-info-btn(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?")
                      span ?
                    input#inputWebsiteName(type="text").form-control
                .form-group
                  label(for="inputBrandName").control-label.col-sm-3 Brand name
                  .col-sm-9.form-group__info-btn-wr
                    button.form-group-info-btn(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?")
                      span ?
                    input#inputBrandName(type="text").form-control
                .form-group
                  label(for="inputTimeZone").control-label.col-sm-3 Time zone
                  .col-sm-9.form-group__info-btn-wr
                    button.form-group-info-btn(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?")
                      span ?
                    input#inputTimeZone(type="text").form-control
                .form-group
                  label(for="inputEmail").control-label.col-sm-3 E-mail
                  .col-sm-9.form-group__info-btn-wr
                    button.form-group-info-btn(type='button', data-toggle='popover', title='Popover title', data-content="And here's some amazing content. It's very engaging. Right?")
                      span ?
                    input#inputEmail(type="text", placeholder="for statistics, chat logs and notifications").form-control
                .form-group.text-right
                  .col-xs-12.form-group__info-btn-wr
                    button(type="button").btn.btn-warning.btn_shadow.btn-90 Save


      .panel.panel-default.panel-default_custom.panel-default_shadow
        .panel-heading
          h3.panel-title Installation code for your website
        .panel-body
          form(action="")
            .copy-block__label
              = 'Please paste the following code on every page of your website before the closing </body> tag:'
            .copy-block
              pre
                code#copy1
                  = '<!----- BEGIN LEADUX SCRIPT ----->\n<script>(function(w,d,c){var o = "leadux"; w[o] = w[o] || function(){ (w[o].p = w[o].p || []).push(arguments[0]); }; var s = d.createElement("script");s.src = "https://sys.leadux.com/leadcollector/lc.js";w[o].src=s.src;if(c){s.async = true;d.getElementsByTagName("body")[0].appendChild(s);}else{d.write(s.outerHTML);}} )(window,document,true);leadux({id:"vEJoJMj8sEYBpGdD9",context:"base"});</script>\n<!----- END LEADUX SCRIPT ----->'
            .copy-block__button-group.text-right
              button(type='button').btn.btn-warning.btn_shadow.btn-140
                span.btn-text Send to Email
              button(type='button', onclick="copyToClipboard('copy1')").btn.btn-warning.btn_shadow.btn-140.js-btn-copy
                span.btn-text Copy to Clipboard

app/website-instalation.html
<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>LEADUX</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/bootstrap-tabcollapse/bootstrap-tabcollapse.js"></script>
    <!-- endbower-->
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/respond.min.js-->
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <div id="wrapper">
      <!-- Page Content-->
      <div id="page-content-wrapper">
        <!-- inner Header-->
        <div class="container-wrap container-wrap__header">
          <div class="container_sm">
            <header class="main-header">
              <div class="header-inner_sm">
                <h1 class="logo__wr"><span class="sr-only">Logo</span><a href="index.html" class="logo-link"><!--[if gte IE 9]><!--><img src="img/svg/logo_leadux.svg" width="110" height="30" alt=""/><!--<![endif]--> <!--[if lt IE 9]><img src="img/png/logo_leadux.png" width="110" height="30" alt=""/><![endif]--></a></h1>
              </div>
              <div class="header__nav">
                <div class="header__nav-controls"><a href="" data-toggle-wrapper="header-toggle" class="btn-toggle btn-toggle_header js-btn-toggle"><span class="btn-toggle__icon"><span class="toggle-line toggle-line-1"></span><span class="toggle-line toggle-line-2"></span><span class="toggle-line toggle-line-3"></span></span></a><a href="index.html" class="btn btn-primary btn_shadow header-nav__link_dashboard"><i class="ld-icons_dash btn-icon btn-icon_l"></i><span class="btn-text">dashboard</span></a>
                </div>
                <nav class="header-nav__list-wr">
                  <ul class="header-nav__list">
                    <li class="header-nav-list__item"><a href="websites.html" class="header-nav__link">websites</a></li>
                    <li class="header-nav-list__item"><a href="" class="header-nav__link">support</a></li>
                    <li class="header-nav-list__item"><a href="" class="header-nav__link">log out</a></li>
                  </ul>
                </nav>
              </div>
            </header>
          </div>
        </div>
        <div class="latest-leads-filters__collapse_top">
          <div class="latest-leads-filters__list">
            <div class="latest-leads-filters__list-item">
              <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn_shadow btn-110">profile <span class="caret"></span></a>
                <ul aria-labelledby="dLabel" class="dropdown-menu">
                  <li><a href="" class="ng-binding">Leadamaze</a></li>
                  <li><a href="" class="ng-binding">Publish</a></li>
                </ul>
              </div>
              <div class="filter-label">Publish</div>
            </div>
          </div>
        </div>
        <!-- end inner Header-->
        <!-- main-content-->
        <main class="main-content">
          <script>
            $(function () {
              $('[data-toggle="popover"]').popover({
                  container: 'body',
                  html: true,
                  placement: 'auto'
              });
            });
          </script>
          <div class="container_sm">
            <section class="section__wr clearfix">
              <div class="nav-section">
                <div class="nav__header clearfix">
                  <div class="nav__header-inner">
                    <div class="submenu__additional-action-wr clearfix">
                      <div class="submenu__title-wr">
                        <div class="submenu__title">
                          <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">mywebsite.com<span class="caret"></span></a>
                            <div aria-labelledby="dLabel" class="dropdown-menu dropdown-menu_scrolling">
                              <ul class="dropdown-menu__inner">
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/ngmDNygRpDtDw2t45" class="ng-binding">http://demo1.leadux.belitsoft.net</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/JWEgkxM6P3Gkkto5N" class="ng-binding">ivanova</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/CfT5gHCrZe3TpAdub" class="ng-binding">ivanova</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/kiigaJCuQzZc2Gzgp" class="ng-binding">Z</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/edqiZWScpkbas2W5a" class="ng-binding">Zx</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/SqpoRKmuvmpSYhXA3" class="ng-binding">Zxc</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/XGBvLHoPgwDNkmXRb" class="ng-binding">Zxzx</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/8YWD9NT4oL6CGdDNm" class="ng-binding">а п  пм</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/F3CdYbb2jtLKGfYAS" class="ng-binding">Иванов Иван Иванович</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/JKkzK73qsksXRkaHr" class="ng-binding">Иванов Иван Иванович</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/c8wfCA2QiJ6PcDPR7" class="ng-binding">Иванов Иван Иванович1</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/BpEe2XqK3wNiYhDDS" class="ng-binding">мррмга</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/6hoAqMZ4ba8P3EJ5c" class="ng-binding">Петров</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/6jRFw7DwFqXh3NiZw" class="ng-binding">Простоквашино</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/nPu6BGby8gbfWZHLd" class="ng-binding">тттттт</a></li>
                                <li ng-repeat="site in $state.current.data.other_websites" class="ng-scope"><a href="/installation/e6Cx3ZRrwCJDqBYLT" class="ng-binding">ывавыпварнонгдлдгшлнегокенрукпауцаукпк</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="submenu__main-actions-wr">
                        <div class="submenu__main-actions clearfix">
                          <div class="submenu-site-setings__btn-group">
                            <div class="submenu__btn-wr"><a href="website-instalation.html" class="btn btn-warning btn_shadow btn-140 active-page"><i class="ld-icons_instalation btn-icon btn-icon_l"></i><span class="btn-text">Installation</span></a></div>
                            <div class="submenu__btn-wr"><a href="website-control-panel.html" class="btn btn-warning btn_shadow btn-140"><i class="ld-icons_control-panel btn-icon btn-icon_l"></i><span class="btn-text">Control Panel</span></a></div>
                            <div class="submenu__btn-wr"><a href="website-integrations.html" class="btn btn-warning btn_shadow btn-140"><i class="ld-icons_integration btn-icon btn-icon_l"></i><span class="btn-text">Integrations</span></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-default_custom panel-default_shadow">
                <div class="panel-heading">
                  <h3 class="panel-title">Website Information</h3>
                </div>
                <div class="panel-body">
                  <form action="" class="form-horizontal">
                    <div class="row">
                      <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                          <label for="inputWebsiteName" class="control-label col-sm-3">Website name</label>
                          <div class="col-sm-9 form-group__info-btn-wr">
                            <button type="button" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" class="form-group-info-btn"><span>?</span></button>
                            <input id="inputWebsiteName" type="text" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputBrandName" class="control-label col-sm-3">Brand name</label>
                          <div class="col-sm-9 form-group__info-btn-wr">
                            <button type="button" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" class="form-group-info-btn"><span>?</span></button>
                            <input id="inputBrandName" type="text" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputTimeZone" class="control-label col-sm-3">Time zone</label>
                          <div class="col-sm-9 form-group__info-btn-wr">
                            <button type="button" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" class="form-group-info-btn"><span>?</span></button>
                            <input id="inputTimeZone" type="text" class="form-control">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputEmail" class="control-label col-sm-3">E-mail</label>
                          <div class="col-sm-9 form-group__info-btn-wr">
                            <button type="button" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?" class="form-group-info-btn"><span>?</span></button>
                            <input id="inputEmail" type="text" placeholder="for statistics, chat logs and notifications" class="form-control">
                          </div>
                        </div>
                        <div class="form-group text-right">
                          <div class="col-xs-12 form-group__info-btn-wr">
                            <button type="button" class="btn btn-warning btn_shadow btn-90">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="panel panel-default panel-default_custom panel-default_shadow">
                <div class="panel-heading">
                  <h3 class="panel-title">Installation code for your website</h3>
                </div>
                <div class="panel-body">
                  <form action="">
                    <div class="copy-block__label">Please paste the following code on every page of your website before the closing &lt;/body&gt; tag:
                    </div>
                    <div class="copy-block">
                      <pre><code id="copy1">&lt;!----- BEGIN LEADUX SCRIPT -----&gt;
&lt;script&gt;(function(w,d,c){var o = &quot;leadux&quot;; w[o] = w[o] || function(){ (w[o].p = w[o].p || []).push(arguments[0]); }; var s = d.createElement(&quot;script&quot;);s.src = &quot;https://sys.leadux.com/leadcollector/lc.js&quot;;w[o].src=s.src;if(c){s.async = true;d.getElementsByTagName(&quot;body&quot;)[0].appendChild(s);}else{d.write(s.outerHTML);}} )(window,document,true);leadux({id:&quot;vEJoJMj8sEYBpGdD9&quot;,context:&quot;base&quot;});&lt;/script&gt;
&lt;!----- END LEADUX SCRIPT -----&gt;</code></pre>
                    </div>
                    <div class="copy-block__button-group text-right">
                      <button type="button" class="btn btn-warning btn_shadow btn-140"><span class="btn-text">Send to Email</span></button>
                      <button type="button" onclick="copyToClipboard('copy1')" class="btn btn-warning btn_shadow btn-140 js-btn-copy"><span class="btn-text">Copy to Clipboard</span></button>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </main>
        <!-- end main-content-->
      </div>
      <!-- inner Header-->
      <div class="container-wrap container-wrap__footer">
        <div class="container_sm">
          <footer class="main-footer">
            <nav>
              <ul class="footer-nav">
                <li class="footer-nav__item">© 2016 LEADUX GmbH</li>
                <li class="footer-nav__item">All Rights Reserved</li>
                <li class="footer-nav__item footer-nav__item-linck-wr"><a href="" class="footer-nav__link">Terms of Service</a></li>
                <li class="footer-nav__item footer-nav__item-linck-wr"><a href="" class="footer-nav__link">Privacy Policy</a></li>
              </ul>
            </nav>
          </footer>
        </div>
      </div>
      <!-- end inner Header-->
      <!-- #page-content-wrapper-->
    </div>
    <!-- #wrapper-->
  </body>
</html>
