app/website-integrations.html
<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>LEADUX</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/bootstrap-tabcollapse/bootstrap-tabcollapse.js"></script>
    <!-- endbower-->
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/respond.min.js-->
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <div id="wrapper">
      <!-- Page Content-->
      <div id="page-content-wrapper">
        <!-- inner Header-->
        <div class="container-wrap container-wrap__header">
          <div class="container_sm">
            <header class="main-header">
              <div class="header-inner_sm">
                <h1 class="logo__wr"><span class="sr-only">Logo</span><a href="index.html" class="logo-link"><!--[if gte IE 9]><!--><img src="img/svg/logo_leadux.svg" width="110" height="30" alt=""/><!--<![endif]--> <!--[if lt IE 9]><img src="img/png/logo_leadux.png" width="110" height="30" alt=""/><![endif]--></a></h1>
              </div>
              <div class="header__nav">
                <div class="header__nav-controls"><a href="" data-toggle-wrapper="header-toggle" class="btn-toggle btn-toggle_header js-btn-toggle"><span class="btn-toggle__icon"><span class="toggle-line toggle-line-1"></span><span class="toggle-line toggle-line-2"></span><span class="toggle-line toggle-line-3"></span></span></a><a href="index.html" class="btn btn-primary btn_shadow header-nav__link_dashboard"><i class="ld-icons_dash btn-icon btn-icon_l"></i><span class="btn-text">dashboard</span></a>
                </div>
                <nav class="header-nav__list-wr">
                  <ul class="header-nav__list">
                    <li class="header-nav-list__item"><a href="websites.html" class="header-nav__link">websites</a></li>
                    <li class="header-nav-list__item"><a href="" class="header-nav__link">support</a></li>
                    <li class="header-nav-list__item"><a href="" class="header-nav__link">log out</a></li>
                  </ul>
                </nav>
              </div>
            </header>
          </div>
        </div>
        <div class="latest-leads-filters__collapse_top">
          <div class="latest-leads-filters__list">
            <div class="latest-leads-filters__list-item">
              <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-warning btn_shadow btn-110">profile <span class="caret"></span></a>
                <ul aria-labelledby="dLabel" class="dropdown-menu">
                  <li><a href="" class="ng-binding">Leadamaze</a></li>
                  <li><a href="" class="ng-binding">Publish</a></li>
                </ul>
              </div>
              <div class="filter-label">Publish</div>
            </div>
          </div>
        </div>
        <!-- end inner Header-->
        <!-- main-content-->
        <main class="main-content">
          <script>
            $(function() {
              $('#integrationTab').tabCollapse({
                tabsClass: 'tabcollapse-tab hidden-sm hidden-xs',
                accordionClass: 'tabcollapse-accordion visible-sm visible-xs'
              });
            });
          </script>
          <div class="container_sm">
            <section class="section__wr clearfix">
              <div class="nav-section">
                <div class="nav__header clearfix">
                  <div class="nav__header-inner">
                    <div class="submenu__additional-action-wr clearfix">
                      <div class="submenu__title-wr">
                        <div class="submenu__title">
                          <div class="dropdown"><a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">mywebsite.com<span class="caret"></span></a>
                            <ul aria-labelledby="dLabel" class="dropdown-menu">
                              <li><a href="">mywebsite-2.com</a></li>
                              <li><a href="">mywebsite-3.com</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="submenu__main-actions-wr">
                        <div class="submenu__main-actions clearfix">
                          <div class="submenu-site-setings__btn-group">
                            <div class="submenu__btn-wr"><a href="website-instalation.html" class="btn btn-warning btn_shadow btn-140"><i class="ld-icons_instalation btn-icon btn-icon_l"></i><span class="btn-text">Installation</span></a></div>
                            <div class="submenu__btn-wr"><a href="website-control-panel.html" class="btn btn-warning btn_shadow btn-140"><i class="ld-icons_control-panel btn-icon btn-icon_l"></i><span class="btn-text">Control Panel</span></a></div>
                            <div class="submenu__btn-wr"><a href="website-integrations.html" class="btn btn-warning btn_shadow btn-140 active-page"><i class="ld-icons_integration btn-icon btn-icon_l"></i><span class="btn-text">Integrations</span></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="integration-block__wr">
                <ul id="integrationTab" class="nav nav-tabs">
                  <li class="active"><a href="#urlTab" data-toggle="tab"><i class="ld-icons_url btn-icon btn-icon_l"></i><span class="btn-text">URL</span></a></li>
                  <li><a href="#crmTab" data-toggle="tab"><i class="ld-icons_crm btn-icon btn-icon_l"></i><span class="btn-text">CRM</span></a></li>
                  <li><a href="#tagTab" data-toggle="tab"><i class="ld-icons_tag btn-icon btn-icon_l"></i><span class="btn-text">TAG</span></a></li>
                </ul>
                <div id="integrationTabContent" class="tab-content">
                  <div id="urlTab" class="tab-pane fade in active">
                    <form action="" class="form-horizontal">
                      <div class="form-group">
                        <label for="inputEmail" class="control-label sr-only">E-mail</label>
                        <div class="col-sm-8 form-group__inner">
                          <input id="inputEmail" type="text" value="e.g. Yandex Analytics Goals" class="form-control">
                        </div>
                        <div class="col-sm-4 form-group__actions-wr">
                          <div class="btn-group__form-group-action"><a href="" class="btn btn-default btn-r-sm"><i class="glyphicon glyphicon-plus"></i></a></div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="control-label sr-only">E-mail</label>
                        <div class="col-sm-8 form-group__inner">
                          <input id="inputEmail" type="text" value="e.g. Google Analytics Goals" class="form-control">
                        </div>
                        <div class="col-sm-4 form-group__actions-wr">
                          <div class="btn-group__form-group-action"><a href="" class="btn btn-default btn-r-sm"><i class="glyphicon glyphicon-plus"></i></a><a href="" class="btn btn-default btn-r-sm"><i class="glyphicon glyphicon-minus"></i></a></div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-8 text-right">
                          <div class="btn-group__form-group-save">
                            <button type="button" class="btn btn-warning btn_shadow btn-90">Save</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div id="crmTab" class="tab-pane fade">
                    <div class="under-construction">Under construction!</div>
                  </div>
                  <div id="tagTab" class="tab-pane fade">
                    <div class="under-construction">Under construction!</div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </main>
        <!-- end main-content-->
      </div>
      <!-- inner Header-->
      <div class="container-wrap container-wrap__footer">
        <div class="container_sm">
          <footer class="main-footer">
            <nav>
              <ul class="footer-nav">
                <li class="footer-nav__item">© 2016 LEADUX GmbH</li>
                <li class="footer-nav__item">All Rights Reserved</li>
                <li class="footer-nav__item footer-nav__item-linck-wr"><a href="" class="footer-nav__link">Terms of Service</a></li>
                <li class="footer-nav__item footer-nav__item-linck-wr"><a href="" class="footer-nav__link">Privacy Policy</a></li>
              </ul>
            </nav>
          </footer>
        </div>
      </div>
      <!-- end inner Header-->
      <!-- #page-content-wrapper-->
    </div>
    <!-- #wrapper-->
  </body>
</html>

app/website-integrations.jade
block var
  - var dash = true

extends templates/layouts/_default

block head
  - pageTitle = "LEADUX";

block content
  script.
    $(function() {
      $('#integrationTab').tabCollapse({
        tabsClass: 'tabcollapse-tab hidden-sm hidden-xs',
        accordionClass: 'tabcollapse-accordion visible-sm visible-xs'
      });
    });
  .container_sm
    section.section__wr.clearfix
      .nav-section
        .nav__header.clearfix
          .nav__header-inner
            .submenu__additional-action-wr.clearfix
              .submenu__title-wr
                .submenu__title
                  .dropdown
                    a(href="", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      | mywebsite.com
                      span.caret
                    ul.dropdown-menu(aria-labelledby='dLabel')
                      li: a(href="") mywebsite-2.com
                      li: a(href="") mywebsite-3.com
              .submenu__main-actions-wr
                .submenu__main-actions.clearfix
                  .submenu-site-setings__btn-group
                    .submenu__btn-wr
                      a(href="website-instalation.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_instalation.btn-icon.btn-icon_l
                        span.btn-text Installation
                    .submenu__btn-wr
                      a(href="website-control-panel.html").btn.btn-warning.btn_shadow.btn-140
                        i.ld-icons_control-panel.btn-icon.btn-icon_l
                        span.btn-text Control Panel
                    .submenu__btn-wr
                      a(href="website-integrations.html").btn.btn-warning.btn_shadow.btn-140.active-page
                        i.ld-icons_integration.btn-icon.btn-icon_l
                        span.btn-text Integrations

      .integration-block__wr
        ul#integrationTab.nav.nav-tabs
          li.active
            a(href='#urlTab', data-toggle='tab')
              i.ld-icons_url.btn-icon.btn-icon_l
              span.btn-text URL
          li
            a(href='#crmTab', data-toggle='tab')
              i.ld-icons_crm.btn-icon.btn-icon_l
              span.btn-text CRM
          li
            a(href='#tagTab', data-toggle='tab')
              i.ld-icons_tag.btn-icon.btn-icon_l
              span.btn-text TAG

        #integrationTabContent.tab-content
          #urlTab.tab-pane.fade.in.active
            form(action="").form-horizontal
              .form-group
                label(for="inputEmail").control-label.sr-only E-mail
                .col-sm-8.form-group__inner
                  input#inputEmail(type="text", value="e.g. Yandex Analytics Goals").form-control
                .col-sm-4.form-group__actions-wr
                  .btn-group__form-group-action
                    a(href="").btn.btn-default.btn-r-sm
                      i.glyphicon.glyphicon-plus
              .form-group
                label(for="inputEmail").control-label.sr-only E-mail
                .col-sm-8.form-group__inner
                  input#inputEmail(type="text", value="e.g. Google Analytics Goals").form-control
                .col-sm-4.form-group__actions-wr
                  .btn-group__form-group-action
                    a(href="").btn.btn-default.btn-r-sm
                      i.glyphicon.glyphicon-plus
                    a(href="").btn.btn-default.btn-r-sm
                      i.glyphicon.glyphicon-minus
              .form-group
                .col-sm-8.text-right
                  .btn-group__form-group-save
                    button(type="button").btn.btn-warning.btn_shadow.btn-90 Save
          #crmTab.tab-pane.fade
            .under-construction Under construction!
          #tagTab.tab-pane.fade
            .under-construction Under construction!
